.mainpic {
  max-width: 450px;
  max-height: 350px;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  border-radius: 75px;
}
.jappic {
  max-width: 450px;
  max-height: 350px;
  position: absolute;
  opacity: 0;
  transition: opacity 500ms ease-out;
  border-radius: 75px;
}


